#user_group_label {
  cursor: pointer;
  margin-bottom: 0px;
  padding: 12px;
  border: 2px solid #d3394c;
  color: #d3394c;
  font-weight: bold;
}

#user_group_label {
  cursor: pointer;
  margin-bottom: 0px;
  padding: 12px;
  border: 2px solid #d3394c;
  color: #d3394c;
  font-weight: bold;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

* {
  box-sizing: border-box;
}


#toolbar {
  margin: 0;
}